# **Exercises SP_2018_2**

## **Your name here**

## Notes on the homework

Each task that is assigned should completed inside the function the has been written.
The result return by the function has to be the one asked.

Points will be attributed accordingly to the result and to the quality of the code. The code will be checked manually, so don't copy paste.

The exercises marked as advanced are not mandatory, even if it's highly advised you are able to do them.

### Example
Write a function that given a number returns the number plus 3.

Given:

In [ ]:
def example(n):
    # your code
    return

You should write:

In [ ]:
def example(n):
    result = n+3
    return result

In [ ]:
example(4)

<br>
<br>
<br>

### For advanced students:

***For the students that knows how to do these exercises easily, I suggest to try to focus on the style and on the quality of the code.***<br>
***Try to use list comprehensions when it's possible or to not cycle more times than it's needed.***
Sometimes the code is more readable if it's written in one more complex lines that distributed over ten lines that at the end do the same thing.
Structures that can, at a first glance, seems intricated will be easily understood when one gets used to them (E.g. last optional exercise of set 1). They can also simplify the code a lot.

E.g. given two functons:

In [1]:
def a(x):
    return x+2
def f(x):
    return x%3==0
l=list(range(10))

In [5]:
[f(x) and a(x) or False for x in l]

[2, False, False, 5, False, False, 8, False, False, 11]

In [3]:
[a(x) if f(x) else False for x in l]

[2, False, False, 5, False, False, 8, False, False, 11]

Pay attention tat the two structures present a small difference (can you guess where?)

FYI: the first comes from functional programming and the second is standard python grammar.

<br>
<br>
<br>

# Beginning of the homework. Let's do it..

## Exercise 1: One line - exercises on lists (~ 10 min)

These exercises focus just on the python sintax. They are not cumbersome exercises ;)

### a)
Write a function that given a list return the a list with two elements: the first and the last element of the initial list

E.g. 
* [1,2,3] -> [1,3]
* [1] -> [1,1]
* ['sole', 'mare', 'amore', 'python'] -> ['sole','python']

In [7]:
def first_and_last(l):
    return [l[0], l[len(l)-1]]# your code

In [8]:
first_and_last([1,2,3])

[1, 3]

### b)
Write a function that returns the following list. (Only use List Comprehension).

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [9]:
def solution_2():
    return [x for x in range(20) if x % 2 == 1]# your code
solution_2()

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### c)
Write a function that returns the following matrix (list of list). Just use list comprehensions. 

[[1, 3, 5, 7, 9],
 [11, 13, 15, 17, 19],
 [21, 23, 25, 27, 29],
 [31, 33, 35, 37, 39],
 [41, 43, 45, 47, 49]]

In [10]:
def solution_3():
    # your code here
    return [[10 * y + 2 * x + 1 for x in range(5)]  for y in range(5)]
solution_3()

[[1, 3, 5, 7, 9],
 [11, 13, 15, 17, 19],
 [21, 23, 25, 27, 29],
 [31, 33, 35, 37, 39],
 [41, 43, 45, 47, 49]]

### d)
Write a small code which creates the list of list in which the element i has i elements from 0 to i-1. Eg:
<pre>
[], [0], [0, 1], [0, 1, 2], [0, 1, 2, 3]
</pre>

In [13]:
def solution_4a(i):
    return [[k for k in range(j)] for j in range(i)]
solution_4a(6)

[[], [0], [0, 1], [0, 1, 2], [0, 1, 2, 3], [0, 1, 2, 3, 4]]

### e)
Write a function which orders the list generated by <pre>
L = [[x, y] for x in range(5) for y in range(5) if x != y]
</pre>
by the moltiplication of the two elements

In [14]:
L = [[x, y] for x in range(5) for y in range(5) if x != y]

In [16]:
def solution_5a(l):
    return sorted(l, key = lambda x: x[0] * x[1])
solution_5a(L)

[[0, 1],
 [0, 2],
 [0, 3],
 [0, 4],
 [1, 0],
 [2, 0],
 [3, 0],
 [4, 0],
 [1, 2],
 [2, 1],
 [1, 3],
 [3, 1],
 [1, 4],
 [4, 1],
 [2, 3],
 [3, 2],
 [2, 4],
 [4, 2],
 [3, 4],
 [4, 3]]

### f)
Write a code which gives you back the list of all the couples (x,y) such that x<10 and y<10 and x%y==0.<br>
Use list comprehension (one line!)

In [17]:
[[x,y] for x in range(1, 10) for y in range(1, 10) if x % y == 0]

[[1, 1],
 [2, 1],
 [2, 2],
 [3, 1],
 [3, 3],
 [4, 1],
 [4, 2],
 [4, 4],
 [5, 1],
 [5, 5],
 [6, 1],
 [6, 2],
 [6, 3],
 [6, 6],
 [7, 1],
 [7, 7],
 [8, 1],
 [8, 2],
 [8, 4],
 [8, 8],
 [9, 1],
 [9, 3],
 [9, 9]]

## Exercise 2: List and functions (~ 20 min)

*Here you have to think what you are doing. Exercises to learn how to generalize the code*

### a)

Programming in a good way means to write the code inside function in order to be able to reuse it. In order to make it reusable one can write it in a more general way (when it's a good idea to have it generalized). A good example is what we have done in exercise 9.
Instead that writing a function that returns exactly the above matrix we want to return a matrix with an arbitrary number of rows and columns.

Write a function that returns a matrix like the one above: it has to be filled with the natural odd numbers (starting from 1 in increasing order: 1,3,5,7,9,11,13,15,17,...).

The function has as input the number of rows and the number of columns.

E.g.: solution_10(4,6) gives the following output:

`[[1, 3, 5, 7, 9, 11],`<br>
` [13, 15, 17, 19, 21, 23],`<br>
` [25, 27, 29, 31, 33, 35],`<br>
` [37, 39, 41, 43, 45, 47]]`

***Advanced: try to use list a comprehension and write the function in one line***

In [18]:
def solution_4(row,col):
    # your code here
    return [[2 * col * y + 2 * x + 1 for x in range(col)]  for y in range(row)]
solution_4(4,6)

[[1, 3, 5, 7, 9, 11],
 [13, 15, 17, 19, 21, 23],
 [25, 27, 29, 31, 33, 35],
 [37, 39, 41, 43, 45, 47]]

### b)

Write a function that given the number of rows and columns it returns a matrix with 1 in the odd columns and 0 in the even columns:

eg. solution_5(8,9) returns:

<code>[[1, 0, 1, 0, 1, 0, 1, 0],<br>
 [1, 0, 1, 0, 1, 0, 1, 0],<br>
 [1, 0, 1, 0, 1, 0, 1, 0],<br>
 [1, 0, 1, 0, 1, 0, 1, 0],<br>
 [1, 0, 1, 0, 1, 0, 1, 0],<br>
 [1, 0, 1, 0, 1, 0, 1, 0],<br>
 [1, 0, 1, 0, 1, 0, 1, 0],<br>
 [1, 0, 1, 0, 1, 0, 1, 0],<br>
 [1, 0, 1, 0, 1, 0, 1, 0]]</code>
 
 ***for advanced: again, try to do it in one line. ;)***

In [19]:
def solution_5(row, col):
    # your code here
    return [[(x + 1) % 2 for x in range(row)] for y in range(col)]

solution_5(3,17)

[[1, 0, 1],
 [1, 0, 1],
 [1, 0, 1],
 [1, 0, 1],
 [1, 0, 1],
 [1, 0, 1],
 [1, 0, 1],
 [1, 0, 1],
 [1, 0, 1],
 [1, 0, 1],
 [1, 0, 1],
 [1, 0, 1],
 [1, 0, 1],
 [1, 0, 1],
 [1, 0, 1],
 [1, 0, 1],
 [1, 0, 1]]

### c)

Write a function that takes two list in imput and add the elements of the lists elementwise.
(**list! `numpy` is not allowed here)**

Eg. `solution_6([1,2,3],[1,1,1])`
gives:
`[2,3,4]`

In [20]:
def solution_6(l1,l2):
    # your code here
    return [(l1[i] + l2[i]) for i in range(len(l1))]
solution_6([1,2,3],[1,1,1])

[2, 3, 4]

### d) Default values in functions

A function can have in input default values.

E.g.

In [21]:
def f(a, b=3):
    return a+b

to_print  = "f({}) \t\t--> {}"
to_print2 = "f({}, {}) \t--> {}"
to_print3 = "f({}, b={}) \t--> {}"

print(to_print.format(2, f(2)))
print(to_print.format(5, f(5)))
print(to_print2.format(5,6, f(5,6)))
print(to_print3.format(5,6, f(5,6)))
print(to_print3.format(5,8, f(5,8)))

f(2) 		--> 5
f(5) 		--> 8
f(5, 6) 	--> 11
f(5, b=6) 	--> 11
f(5, b=8) 	--> 13

Write a function that generalize the previous function and if the second element is not given adds 1 to all the elements}

Pay attention that the second element can be by default a [1,1,1,1] list because you don't know the lenght of the list in the first element.

E.g.

`f([1,2,3])` --> `[2,3,4]`<br>

`f([2,6,4,7,87])` --> `[3,7,5,8,88]`<br>

`f([1,4,5,6], [4,5,7,-1)` --> `[5,9,12,5]`

In [22]:
def solution_7(a,b=None):
    assert type(a)==list
    # your code here
    return [(a[i] + b[i]) for i in range(len(a))] if b != None else [x + 1 for x in a]
a = [2, 3, 4]
print(solution_7(a, [1, 2, 3]), solution_7(a))

[3, 5, 7] [3, 4, 5]

## Exercise 3: Dictionaries (~ 10 minutes)

### a)

Create a function that return a dictionary with as keys the words that appear in the input text, as values the number of times that the keys appear.
All the keys in the dictionary have to be lowercase and with no punctuation or whitespaces inside.

In [23]:
all_the_words_a_stage = """All the world's a stage,
And all the men and women merely players;
They have their exits and their entrances,
And one man in his time plays many parts,
His acts being seven ages. At first, the infant,
Mewling and puking in the nurse's arms.
Then the whining schoolboy, with his satchel
And shining morning face, creeping like snail
Unwillingly to school. And then the lover,
Sighing like furnace, with a woeful ballad
Made to his mistress' eyebrow. Then a soldier,
Full of strange oaths and bearded like the pard,
Jealous in honor, sudden and quick in quarrel,
Seeking the bubble reputation
Even in the cannon's mouth. And then the justice,
In fair round belly with good capon lined,
With eyes severe and beard of formal cut,
Full of wise saws and modern instances;
And so he plays his part. The sixth age shifts
Into the lean and slippered pantaloon,
With spectacles on nose and pouch on side;
His youthful hose, well saved, a world too wide
For his shrunk shank, and his big manly voice,
Turning again toward childish treble, pipes
And whistles in his sound. Last scene of all,
That ends this strange eventful history,
Is second childishness and mere oblivion,
Sans teeth, sans eyes, sans taste, sans everything."""

In [24]:
import re
def count_words(text):
    text = "".join([letter if letter.isalpha() == True else " " for letter in text]).lower().split()
    return {text[pos] : sum([text[pos] == i for i in text]) for pos in range(len(text)) if text[pos] not in text[ : pos]}

    #your code
    #return {'a' + str(x) : x for x in range(10)}
dict_x = count_words(all_the_words_a_stage)
dict_x

{'all': 3,
 'the': 12,
 'world': 2,
 's': 3,
 'a': 4,
 'stage': 1,
 'and': 18,
 'men': 1,
 'women': 1,
 'merely': 1,
 'players': 1,
 'they': 1,
 'have': 1,
 'their': 2,
 'exits': 1,
 'entrances': 1,
 'one': 1,
 'man': 1,
 'in': 7,
 'his': 9,
 'time': 1,
 'plays': 2,
 'many': 1,
 'parts': 1,
 'acts': 1,
 'being': 1,
 'seven': 1,
 'ages': 1,
 'at': 1,
 'first': 1,
 'infant': 1,
 'mewling': 1,
 'puking': 1,
 'nurse': 1,
 'arms': 1,
 'then': 4,
 'whining': 1,
 'schoolboy': 1,
 'with': 5,
 'satchel': 1,
 'shining': 1,
 'morning': 1,
 'face': 1,
 'creeping': 1,
 'like': 3,
 'snail': 1,
 'unwillingly': 1,
 'to': 2,
 'school': 1,
 'lover': 1,
 'sighing': 1,
 'furnace': 1,
 'woeful': 1,
 'ballad': 1,
 'made': 1,
 'mistress': 1,
 'eyebrow': 1,
 'soldier': 1,
 'full': 2,
 'of': 4,
 'strange': 2,
 'oaths': 1,
 'bearded': 1,
 'pard': 1,
 'jealous': 1,
 'honor': 1,
 'sudden': 1,
 'quick': 1,
 'quarrel': 1,
 'seeking': 1,
 'bubble': 1,
 'reputation': 1,
 'even': 1,
 'cannon': 1,
 'mouth': 1,
 'justice': 1,
 'fair': 1,
 'round': 1,
 'belly': 1,
 'good': 1,
 'capon': 1,
 'lined': 1,
 'eyes': 2,
 'severe': 1,
 'beard': 1,
 'formal': 1,
 'cut': 1,
 'wise': 1,
 'saws': 1,
 'modern': 1,
 'instances': 1,
 'so': 1,
 'he': 1,
 'part': 1,
 'sixth': 1,
 'age': 1,
 'shifts': 1,
 'into': 1,
 'lean': 1,
 'slippered': 1,
 'pantaloon': 1,
 'spectacles': 1,
 'on': 2,
 'nose': 1,
 'pouch': 1,
 'side': 1,
 'youthful': 1,
 'hose': 1,
 'well': 1,
 'saved': 1,
 'too': 1,
 'wide': 1,
 'for': 1,
 'shrunk': 1,
 'shank': 1,
 'big': 1,
 'manly': 1,
 'voice': 1,
 'turning': 1,
 'again': 1,
 'toward': 1,
 'childish': 1,
 'treble': 1,
 'pipes': 1,
 'whistles': 1,
 'sound': 1,
 'last': 1,
 'scene': 1,
 'that': 1,
 'ends': 1,
 'this': 1,
 'eventful': 1,
 'history': 1,
 'is': 1,
 'second': 1,
 'childishness': 1,
 'mere': 1,
 'oblivion': 1,
 'sans': 4,
 'teeth': 1,
 'taste': 1,
 'everything': 1}

### b)
Sort the words for frequency and print the first 3 most frequent words!

In [25]:
import operator
sorted_x = sorted(dict_x.items(), key = operator.itemgetter(1), reverse = True)
print([x[0] for x in sorted_x[:3]])

['and', 'the', 'his']

## Exercise 4: Let's work wit a small dataset. Towns (~10 min)

### a) Read the file towns.dat into a dictionary
<pre>
#town Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec
Tallinn -3 -5 -1 3 10 13 16 15 10 6 1 -2
Beijing -3 0 6 13 20 24 26 25 20 13 5 -1
Berlin 0 -1 4 7 12 16 18 17 14 9 4 1
Buenos_Aires 23 22 20 16 13 10 10 11 13 16 18 22
Cairo 13 15 17 21 25 27 28 27 26 23 19 15
Cape_Town 21 21 20 17 15 13 12 13 14 16 18 20
Helsinki -5 -6 -2 3 10 13 16 15 10 5 0 -3
London 3 3 6 7 11 14 16 16 13 10 6 5
Moscow -8 -7 -2 5 12 15 17 15 10 3 -2 -6
Ottawa -10 -8 -2 6 13 18 21 20 14 7 1 -7
Paris 3 4 7 10 13 16 19 19 16 11 6 5
Riga -3 -3 1 5 11 15 17 16 12 7 2 -1
Rome 8 8 11 12 17 20 23 23 21 17 12 9
Singapore 27 27 28 28 28 28 28 28 27 27 27 26
Stockholm -2 -3 0 3 10 14 17 16 11 6 1 -2
Waschington_D.C. 2 3 7 13 18 23 26 25 21 15 9 3
</pre>
* As you can see the columns are separated by space
* The first line is a header
* The first column is the name of the city
* Use the city names as key for the dictionary and the temperatures as a list for the values

In [40]:
import numpy as np
with open('towns.csv') as f:
    lines = [l.strip().split(' ') for l in f]
    months = lines[0][1:]
    cities = {line[0]:list(map(int, line[1:])) for line in lines[1:]}
cities

{'Tallinn': [-3, -5, -1, 3, 10, 13, 16, 15, 10, 6, 1, -2],
 'Beijing': [-3, 0, 6, 13, 20, 24, 26, 25, 20, 13, 5, -1],
 'Berlin': [0, -1, 4, 7, 12, 16, 18, 17, 14, 9, 4, 1],
 'Buenos_Aires': [23, 22, 20, 16, 13, 10, 10, 11, 13, 16, 18, 22],
 'Cairo': [13, 15, 17, 21, 25, 27, 28, 27, 26, 23, 19, 15],
 'Cape_Town': [21, 21, 20, 17, 15, 13, 12, 13, 14, 16, 18, 20],
 'Helsinki': [-5, -6, -2, 3, 10, 13, 16, 15, 10, 5, 0, -3],
 'London': [3, 3, 6, 7, 11, 14, 16, 16, 13, 10, 6, 5],
 'Moscow': [-8, -7, -2, 5, 12, 15, 17, 15, 10, 3, -2, -6],
 'Ottawa': [-10, -8, -2, 6, 13, 18, 21, 20, 14, 7, 1, -7],
 'Paris': [3, 4, 7, 10, 13, 16, 19, 19, 16, 11, 6, 5],
 'Riga': [-3, -3, 1, 5, 11, 15, 17, 16, 12, 7, 2, -1],
 'Rome': [8, 8, 11, 12, 17, 20, 23, 23, 21, 17, 12, 9],
 'Singapore': [27, 27, 28, 28, 28, 28, 28, 28, 27, 27, 27, 26],
 'Stockholm': [-2, -3, 0, 3, 10, 14, 17, 16, 11, 6, 1, -2],
 'Waschington_D.C.': [2, 3, 7, 13, 18, 23, 26, 25, 21, 15, 9, 3]}

### b) Create a numpy array
* Create a numpy array which contains only the temperatures
* There are 16 cities and 12 months and the temperatures are integers (it has then to be a 16*12 matrix)

In [71]:
temperatures = [l for l in cities.values()]

['Tallinn',
 'Beijing',
 'Berlin',
 'Buenos_Aires',
 'Cairo',
 'Cape_Town',
 'Helsinki',
 'London',
 'Moscow',
 'Ottawa',
 'Paris',
 'Riga',
 'Rome',
 'Singapore',
 'Stockholm',
 'Waschington_D.C.']

### c) Temperatures
1. Calculate the average temperature for each city
2. Create a list ordered by the average temperature
3. Create a list ordered by the maximal temperature
4. Create a list with the hottest month for the cities.

In [81]:
city_list = [c for c in cities.keys()]
avg_temps = [np.mean(temperatures[i]) for i in range(len(temperatures))]
city_avg = [[city_list[i], avg_temps[i]] for i in range(len(city_list))]
city_avg

[['Tallinn', 5.25],
 ['Beijing', 12.333333333333334],
 ['Berlin', 8.416666666666666],
 ['Buenos_Aires', 16.166666666666668],
 ['Cairo', 21.333333333333332],
 ['Cape_Town', 16.666666666666668],
 ['Helsinki', 4.666666666666667],
 ['London', 9.166666666666666],
 ['Moscow', 4.333333333333333],
 ['Ottawa', 6.083333333333333],
 ['Paris', 10.75],
 ['Riga', 6.583333333333333],
 ['Rome', 15.083333333333334],
 ['Singapore', 27.416666666666668],
 ['Stockholm', 5.916666666666667],
 ['Waschington_D.C.', 13.75]]

In [82]:
ordered_city_avg = sorted(city_avg, key = lambda x: x[1], reverse = True)
ordered_city_avg

[['Singapore', 27.416666666666668],
 ['Cairo', 21.333333333333332],
 ['Cape_Town', 16.666666666666668],
 ['Buenos_Aires', 16.166666666666668],
 ['Rome', 15.083333333333334],
 ['Waschington_D.C.', 13.75],
 ['Beijing', 12.333333333333334],
 ['Paris', 10.75],
 ['London', 9.166666666666666],
 ['Berlin', 8.416666666666666],
 ['Riga', 6.583333333333333],
 ['Ottawa', 6.083333333333333],
 ['Stockholm', 5.916666666666667],
 ['Tallinn', 5.25],
 ['Helsinki', 4.666666666666667],
 ['Moscow', 4.333333333333333]]

In [90]:
max_temps = [max(temperatures[i]) for i in range(len(temperatures))]
city_max = [[city_list[i], max_temps[i]] for i in range(len(city_list))]
ordered_city_max = sorted(city_max, key = lambda x: x[1], reverse = True)
ordered_city_max

[['Cairo', 28],
 ['Singapore', 28],
 ['Beijing', 26],
 ['Waschington_D.C.', 26],
 ['Buenos_Aires', 23],
 ['Rome', 23],
 ['Cape_Town', 21],
 ['Ottawa', 21],
 ['Paris', 19],
 ['Berlin', 18],
 ['Moscow', 17],
 ['Riga', 17],
 ['Stockholm', 17],
 ['Tallinn', 16],
 ['Helsinki', 16],
 ['London', 16]]

In [96]:
[[city_list[i], months[np.argmax(temperatures[i])]] for i in range(len(temperatures))]

[['Tallinn', 'Jul'],
 ['Beijing', 'Jul'],
 ['Berlin', 'Jul'],
 ['Buenos_Aires', 'Jan'],
 ['Cairo', 'Jul'],
 ['Cape_Town', 'Jan'],
 ['Helsinki', 'Jul'],
 ['London', 'Jul'],
 ['Moscow', 'Jul'],
 ['Ottawa', 'Jul'],
 ['Paris', 'Jul'],
 ['Riga', 'Jul'],
 ['Rome', 'Jul'],
 ['Singapore', 'Mar'],
 ['Stockholm', 'Jul'],
 ['Waschington_D.C.', 'Jul']]

## Exercise 5: Bak-Sneppen model of evolution (~10 min)
### (highly suggested to everyone)

Ref: Bak, Per, and Kim Sneppen. "Punctuated equilibrium and criticality in a simple model of evolution." Physical review letters 71.24 (1993): 4083.
1. Create a numpy array of 100 uniform random numbers from the range \[0,1\]
2. Find the position of the smallest. Let us call it  $i$
3. Replace the numbers at position $i-1$, $i$, $i+1$ with random numbers (Watch for the array boundaries i.e. if $i==0$ or $i==100$)
4. Repeat steps 2., 3. 10000 times
5. Count the number of numbers less than 0.66

In [52]:
import numpy as np
def swap_3(a):
    k = np.argmin(a)
    a[max(0, k - 1) : min(len(a), k + 2)] = np.random.random(3 - (k == 0) - (k == len(a) - 1))
    return a

In [53]:
def swapping(a, n):
    for i in range(n):
        a = swap_3(a)
    return sum(a < 0.66)
sum([swapping (np.random.random(100), 1000) for i in range(100)])

2238